{% extends 'base.html' %}
{% block 'title' %}Gerenciar solicitações{% endblock %}
{% block 'conteudo' %}
<h2>Solicitações para a campanha {{campanha.nome_campanha}}</h2>
<p>Aqui estão as solicitações dos jogadores que desejam participar da sua campanha. Você pode aprovar ou reprovar cada solicitação.</p>
<!--
//TODO: Adicionar paginação caso tenha muitas solicitações
//TODO: Adicionar um filtro para mostrar apenas solicitações pendentes, aprovadas ou reprovadas
//TODO: Adicionar uma confirmação via modal antes de aprovar ou reprovar uma solicitação  
-->
<div class="table-responsive">
  <table class="table table-striped">
    <thead> 
      <tr>
        <th scope="col">#</th>
        <th scope="col">Solicitante</th>
        <th scope="col">Personagem</th>
        <th scope="col">Mensagem</th>
        <th scope="col">Data solicitacao</th>
        <th scope="col">Aprovar?</th>
      </tr>
    </thead>
    <tbody>
    {% for s in solicitacoes%}
      <tr class="solicitacao-{{s.id}}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{s.usuario_solicitante.username}}</td>
        <td>{{s.personagem.nome_personagem}}</td>
        <td>{{s.mensagem}}</td>
        <td>{{s.data_solicitacao}}</td>
        <td>
          <form method="POST" action="{% url 'aprovar' s.id %}">
            {% csrf_token %}
            <input type="hidden" name="decisao" value="A">
            <button type="submit" class="btn btn-success">Aprovar</button>
          </form>
          
          <form method="POST" action="{% url 'reprovar' s.id %}">
            {% csrf_token %}
            <input type="hidden" name="decisao" value="R">
            <button type="submit" class="btn btn-danger">Reprovar</button>
          </form>
          
            
        </td>
       </tr>
    {% endfor %}
    </tbody>
  </table>
</div>  
{% endblock %}