{% extends 'base.html' %}
{% block 'title' %}Editar Personagem{% endblock %}
{% block 'conteudo' %}
<h2>Editar Personagem</h2>
{% if messages %}
{% for message in messages %}
    <section class="alert {{ message.tags }}">
        {{ message }}
    </section>
{% endfor %}
{% endif %}
<form method="POST" enctype="multipart/form-data" class="formulario">
  {% csrf_token %}
  <label>Nome:</label><br>
  <input type="text" name="nome_personagem" value="{{personagem.nome_personagem}}" required><br>
  <label>Carregar imagem:</label><br>
    <input type="file" class="pergunta" name="avatar_personagem" id="avatar_personagem" accept="image/*"><br>

    <label>Imagem de perfil:</label><br>
    <img style="width: 500px;" height="500px" id="preview" class="pergunta"
        src="{% if personagem.avatar_personagem %}{{ personagem.avatar_personagem.url }}{% endif %}"
        alt="Avatar do Personagem" /><br>
  <label>Raça:</label><br>
  <input type="text" name="raca" value="{{personagem.raca}}"><br>
  <label>Classe:</label><br>
  <input type="text" name="classe" value="{{personagem.classe}}"><br>
  <label>História:</label><br>
  <textarea name="historia">{{personagem.historia}}</textarea><br>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}