{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Cadastrar Campanha{% endblock %}
{% block 'conteudo' %}
{% if messages %}
{% for message in messages %}
    <section class="alert {{ message.tags }}">
        {{ message }}
    </section>
{% endfor %}
{% endif %}

<h2>Cadastrar campanha</h2>
<form class="formulario" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="user" value={{user.username}}>
  <label>Nome:</label><br>
  <input class="pergunta" type="text" name="nome_campanha" required><br>
  <label>Descrição:</label><br>
  <input class="pergunta" type="text" name="descricao" required><br>

    <label>Carregar imagem:</label><br>
    <input type="file" class="pergunta" name="imagem_de_capa" id="imagem_de_capa" accept="image/*" required><br>

    <label>Imagem de perfil:</label><br>
    <img id="preview" class="preview_img"
        src="{% if campanha.imagem_de_capa %}{{ campanha.imagem_de_capa.url }}{% else %}{% static 'img/default-avatar.png' %}{% endif %}"
        alt="Avatar do Personagem" /><br>


  <!-- <label>Imagem:</label><br>
  <input class="pergunta" type="file" name="imagem_de_capa" required><br> -->
  <label>Data de Início:</label><br>
  <input class="pergunta" type="date" name="data_inicio" required><br>
  <label>Data do Fim:</label><br>
  <input class="pergunta" type="date" name="data_fim " required><br>
<br>

  <button  type="submit" class="botao">Cadastrar Campanha</button>
</form>

<script>
document.getElementById('imagem_de_capa').addEventListener('change', function(event) {

    const file = event.target.files[0];
    const preview = document.getElementById('preview');

    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.onload = () => {
            URL.revokeObjectURL(preview.src);
        }
    }
});
</script>
{% endblock %}