{% extends 'base.html' %}
{% load static %}
{% block 'title' %}Cadastrar Campanha{% endblock %}
{%block   'head'%}
<style>
    .checkbox-container {
    margin-top: 8px;
    margin-bottom: 15px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1rem;
    color: #f1e7c8; /* cor estilo pergaminho */
    background: rgba(0,0,0,0.3);
    padding: 4px 10px;
    border-radius: 6px;
    width: fit-content;
    cursor: pointer;
}

.checkbox-item input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}

</style>
{% endblock%}
{% block 'conteudo' %}
{% if messages %}
{% for message in messages %}
    <section class="alert {{ message.tags }}">
        {{ message }}
    </section>
{% endfor %}
{% endif %}

<h2>Cadastrar campanha</h2>
<form class="formulario" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <input type="hidden" name="user" value={{user.username}}>
  <label>Nome:</label><br>
  <input class="pergunta" type="text" name="nome_campanha" required><br>

    <label>Gêneros da Campanha:</label><br>

    <div class="checkbox-container">
    {% for genero in todos_generos %}
        <label class="checkbox-item">
        <input type="checkbox" name="genero" value="{{ genero.id }}">
        {{ genero.nome_genero }}
        </label><br>
    {% empty %}
        <p>Nenhum gênero cadastrado.</p>
    {% endfor %}
    </div>

  <label>Descrição:</label><br>
  <input class="pergunta" type="text" name="descricao" required><br>

    <label>Carregar imagem:</label><br>
    <input type="file" class="pergunta" name="imagem_de_capa" id="imagem_de_capa" accept="image/*" required><br>
//TODO: Colocar uma imagem default para caso o Usuário não coloque imagem para a campanha e corrigir as termologias
    <label>Imagem de capa:</label><br>
    <img id="preview" class="preview_img"
        src="{% if campanha.imagem_de_capa %}{{ campanha.imagem_de_capa.url }}{% else %}{% static 'img/default-avatar.png' %}{% endif %}"
        alt="Avatar do Personagem" /><br>


  <!-- <label>Imagem:</label><br>
  <input class="pergunta" type="file" name="imagem_de_capa" required><br> -->
  <label>Data de Início:</label><br>
  <input class="pergunta" type="date" name="data_inicio" required><br>
  <label>Data do Fim:</label><br>
  <input class="pergunta" type="date" name="data_fim " ><br>
<br>

  <button  type="submit" class="botao">Cadastrar Campanha</button>
</form>

<script>
document.getElementById('imagem_de_capa').addEventListener('change', function(event) {

    const file = event.target.files[0];
    const preview = document.getElementById('preview');

    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.onload = () => {
            URL.revokeObjectURL(preview.src);
        }
    }
});
</script>
{% endblock %}