{% extends 'base.html' %}
{% block 'title' %}Editar Campanha{% endblock %}
{% block 'conteudo' %}
<h2>Editar Campanha</h2>
{% if messages %}
{% for message in messages %}
    <section class="alert {{ message.tags }}">
        {{ message }}
    </section>
{% endfor %}
{% endif %}    
<form method="POST" class="formulario" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Nome:</label><br>
  <input type="text" name="nome_campanha" class="pergunta" value="{{campanha.nome_campanha}}" required><br>
  <label>Carregar imagem:</label><br>
    <input type="file" class="pergunta" name="imagem_de_capa" id="imagem_de_capa" accept="image/*" required><br>

    <label>Imagem de perfil:</label><br>
    <img id="preview" class="preview_img"
        src="{% if campanha.imagem_de_capa %}{{ campanha.imagem_de_capa.url }}{% endif %}"
        alt="Avatar do Personagem" /><br>
  <label>Data de Inicio:</label><br>
  <input type="date" class="pergunta" name="data_inicio" value="{{campanha.data_inicio}}" required><br>
  <label>Data do Inicio:</label><br>
  <input type="date" class="pergunta" name="data_fim" value="{{campanha.data_fim}}" required><br>
  <label>Descrição:</label><br>
  <textarea class="pergunta" name="descricao">{{campanha.descricao}}</textarea><br>
  <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<script>
document.getElementById('imagem_de_capa').addEventListener('change', function(event) {

    const file = event.target.files[0];
    const preview = document.getElementById('preview');

    if (file) {
        preview.src = URL.createObjectURL(file);
        preview.onload = () => {
            URL.revokeObjectURL(preview.src);
        }
    }
});
</script>
{% endblock %}